##############################################################################
# Fabric Deployment Tool
##############################################################################

[buildout]
fabric-parts =
    fabric-build
    fabric-config

[fabric]
host = 6zu4
hostname = 6zu4.vorwaerts-werbung.de
webserver = /opt/webserver/buildout.webserver
directory = /opt/sites/${config:sitename}/

[fabric-build]
recipe=zc.recipe.egg
eggs=
    fabric
    ade25.fabfiles

[fabric-config]
recipe = collective.recipe.template
input = ${buildout:directory}/buildout.d/fabfile.py.in
output = ${buildout:directory}/fabfile.py
